@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 265 47% 94%;
    --foreground: 240 10% 3.9%;
    --card: 265 47% 99%;
    --card-foreground: 240 10% 3.9%;
    --popover: 265 47% 99%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 262 52% 51%;
    --primary-foreground: 0 0% 98%;
    --secondary: 265 30% 90%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 265 30% 90%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 231 48% 54%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 265 30% 85%;
    --input: 265 30% 88%;
    --ring: 262 52% 51%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 262 30% 12%;
    --foreground: 0 0% 98%;
    --card: 262 30% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 262 30% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 262 52% 61%;
    --primary-foreground: 262 50% 10%;
    --secondary: 262 20% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 262 20% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 231 48% 64%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 262 20% 25%;
    --input: 262 20% 25%;
    --ring: 262 52% 61%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
